body {
    margin: 0; padding: 0; border: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

section {
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    section .caption {
        display: none;
        font-size: 0.95em;
        background-color: rgba(0,0,0, 0.6);
        padding: 1em;
        position: absolute;
        max-width: 320px;
    }

    section .caption a {
        color: gray;
    }

        section .caption.wide {
            max-width: 480px;
        }

    section h1 {
        margin: 0;
        padding: 0.25em 0.5em;
        font-size: 5em;
        text-transform: uppercase;
        font-family: 'Merriweather Sans', sans-serif;
    }

        section h1.banner {
            position: absolute;
            bottom: 0; left: 0;
        }

            section h1.banner .author {
                font-size: 1rem;
            }

    section.dark {
        background-color: black;
    }

.lead {
    font-size: 1.5em !important;
    line-height: 1.5;
    max-width: 800px !important;
    top: 2%;
    left: 50%;
    margin-left: -400px;
    margin-top: 14em;
}

.nameplate {
    display: block;
    padding: 10px;
}
